body {
    background-color: #99ccff; /* Warna biru cerah */
    font-family: Arial, sans-serif; /* Jenis huruf yang bersih dan muda */
    color: #191978; /* Warna teks utama (Biru Gelap) */
}

.kartu-profil {
    width: 300px;
    margin: 50px auto; /* 50px jaraj atas/bawah, auto menengahkan */
    padding: 20px;
    background-color: white;
    border-radius: 15px; /* Membuat gambar persegi menjadi melengkung */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /*Efek Bayangan */
    text-align: center; /* Menengahkan semua teks didalam kartu */
}


.kartu-profil img {
    width: 150px;
    border-radius: 50%; /* Trik untuk membuat gambar persegi menjadi lingkaran sempurna */
}

